footer {
    padding: 20px 0;
    .foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .foot_head {
            display: flex;
            gap: 20px;
            h5 {
                font-size: 14px;
                color: rgb(81, 84, 95);
                line-height: 30px;
                &:hover{
                    color: rgb(254, 76, 80);
                }
            }

        }
        ul{
            display: flex;
            gap: 20px;
            list-style: none;
            li{
                a{
                    color: rgb(81, 84, 95);
                    &:hover{
                        color: rgb(254, 76, 80);
                    }
                }
            }
        }
    }
    p{    font-size: 14px;
        color: rgb(81, 84, 95);
        line-height: 30px;
        padding-top: 30px;

    }
}