header {
    padding: 20px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 24px;
            color: rgb(30, 30, 39);
            font-weight: 700;
            text-transform: uppercase;
            span{
                color: rgb(254, 76, 80);
            }
        }
        ul {
            display: flex;
            align-items: center;
            gap: 20px;
            list-style: none;

            li {
            

                a {
                    text-decoration: none;
                    color: rgb(30, 30, 39);
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                    &:hover{
                        color: rgb(181, 174, 196);
                      }
                }
                
            }
        }
        .icons{
            display: flex;
            gap: 20px;
            a{
                color: black;
            }
        }
    }
}